# Build
build/
out/
cmake-build-*/
*.dll
*.asi
*.lib
*.exp
*.pdb
*.obj
*.o
*.ilk

# IDE
.vs/
.vscode/
*.sln
*.vcxproj*
.idea/
*.user

# OS
Thumbs.db
.DS_Store

# Config (user overrides)
config/StorageCraft.ini
